         .button {
			 border-radius: 70%;
            background-color: grey;
            border: none;
            color: white;
            padding: 18px 18px;
            border-color: coral;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button2 {
            /*border-radius: 50%;*/
           background-color: #A8A3A3;
           border: none;
           color: grey;
           /*padding: 15px 15px;*/
           border-color: coral;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           /*font-size: 16px;*/
          /* margin: 4px 2px;*/
           cursor: pointer;
       }
       .button2:hover {
        transform: scale(1.1); /* (110% zoom) */
    }
        .button:hover {
            transform: scale(1.1); /* (110% zoom) */
        }

        .info {
            background-color: #DCDCDC;
            border: none;
            color: black;
            padding: 9px 10px 15px 13px;
            
            font-size: 12px;
            text-align: center;
            margin: 4px 2px;
            /*
            font-size: 16px;
            /*border-color: coral;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;*/
        }
